/* cелектор * пременяется ко всем элементам */
* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.card {
    background: linear-gradient(135deg, #cadbff, #ead5ff);
    width: 420px;
    padding: 20px;
    border-radius: 32px;
}

body {
    background: linear-gradient(135deg, #667aaa, #b063ff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.head {
    text-align: center;
    margin-bottom: 30px;
}

.avatar {
    width: 130px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 8px 20px rgb(72, 71, 71);
    margin-bottom: 30px;
    transition: all 0.3s ease;

}

.avatar:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(144, 126, 182, 0.472);
}

h1 {
    font-size: 28px;
    font-weight: 700;
    color: #764ba2;
    margin-bottom: 10px;
}

.title {
    color: rgb(135, 116, 116);
    font-size: 18px;
    font-weight: 500;
    /* текст скрыт */
    width: 0;
    /* что width работало с текстом  */
    display: inline-block;
    /* скрывает теккст за пределами блока */
    overflow: hidden;
    /* запрещает перенос текста */
    white-space: nowrap;
    /* курсор */
    border-right: 3px solid #764ba2;
    animation: typing 4s steps(25, end) infinite, cursor 0.8s steps(1, end) infinite;
}

@keyframes typing {
    to {
        width: 41%;
    }

}

@keyframes cursor {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #764ba2;
    }

}

.description {
    color: #560874;
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
}

.stats {
    display: flex;
    justify-content: space-around;
     background: linear-gradient(135deg, #b399cf ,#6e89ff);
    border: 1px solid rgb(205 205 205);
    border-radius: 16px;
    margin: 25px;
    padding: 20px;
    margin-bottom: 30px;

}

.experiance {
    text-align: center;
}

.experiance-number {
    display: block;
    font-size: 26px;
    font-weight: 700;
    color: #566ac3;
    margin-bottom: 5px;
}

.experiance-label {
    font-size: 20px;
    color: rgb(82, 82, 82);
}

h2 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(87, 99, 186);
    text-align: center;
    margin-bottom: 30px;

}

ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    margin-bottom: 30px;

}

li {
    background: linear-gradient(135deg, #667aaa, #8d79a2);
    padding: 15px 30px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 4px 12px rgba(102, 126, 234, 0.3);
    transition: all 0.3s ease;
}

li:hover {
    transform: translateY(-2px);
}

.link {
    color: #667eea;
    text-decoration: none;
    background-color: rgba(102, 126, 234, 0.1);
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    padding: 14px;
    border-radius: 25px;
    transition: all 1s;
}

.link:hover {
    background-color: #7a5fa5;
    color: white;
}

/* смартфоны 320рх,480рх
        планшеты 768рх
        нетбуки 1024рх
        мониторы 1280,1600,1920 */
@media (max-width: 480px) {
    .card {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    .stats {
        justify-content: center;
        gap: 20px;
    }
}